@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    src: url('/assets/fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Lobster', cursive;
    src: url('/assets/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Varela Round', sans-serif;
    src: url('/assets/fonts/Valera_Round/VarelaRound-Regular.ttf');
}

.window1 {
    width: 100%;
    height: 100vh;
    color: #fff;
    transition: all 0.5s linear 0s;
    position: fixed;

    /* Linear gradients */
    background: rgb(30,202,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(30,202,255,1), rgba(104,107,255,1), rgba(217,86,234,1), rgba(247,136,66,1)); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(30,202,255,1),rgba(104,107,255,1),rgba(217,86,234,1),rgba(247,136,66,1)); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(30,202,255,1),rgba(104,107,255,1),rgba(217,86,234,1),rgba(247,136,66,1)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ecaff', endColorstr='#f78842',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-position: 50% 50%;
    background-size: 400% 400%;
}

.info {
    background-color: #ffffff;
    border-radius: 1000px;
    position: relative;
    left: -50%;
    transform: translateY(-50%);
    min-height: 7rem;
    min-width: 7rem;
    white-space: nowrap;
    display: inline-flex;
    overflow: hidden;
}

.picture {
    position: relative;
    background: url(../img/avatar2.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.wrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.text {
    position: relative;
    height: 100%;
    max-width: 0;
    color: black;
    transition: ease-out 3s 1s;
}

.window1test {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

.text .name,.text .title {
    margin-left: 1rem;
    margin-right: 2rem;
}

.name {
    font-weight: bold;
    font-size: 3rem;
}

.title {
    font-size: 2rem;
}

.window2 {
    position: relative;
    background-color: whitesmoke;
    /*height: 100vh;*/
    width: 100%;
    z-index: 2;
    top: 100vh;
}

.section {
    position: relative;
    background-color: whitesmoke;
    width: 100%;
    z-index: 2;
}

.between {
    height: 20vh;
    background-color: deeppink;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.window-border-top {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    border-top: 50px solid transparent;
    border-right: 0 solid whitesmoke;
}

body {
    font-family: 'Open Sans', "Arial Black", sans-serif;
}

html {
    overflow-x: hidden;
}
